{% extends "base.html" %}

{% block content %}

<style>

.price-container{
margin-top:40px;

}


.biggg{
    background: rgba(7, 27, 12, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(25, 95, 15, 0.3);
    margin:0px 250px 20px 250px;
    padding:7px 0px 0px 0px;
}



.price-card{
background:linear-gradient(90deg,rgb(172, 206, 218),rgb(249, 255, 246));
border-radius:15px;
box-shadow:0 4px 12px rgba(0,0,0,0.2);
padding:30px;
}

</style>


<div class="container price-container">
<div class="biggg">
<h2 class="text-center mb-4">📈 Crop Price Prediction</h2>
</div>
<div class="row justify-content-center">

<div class="col-md-6">

<div class="price-card">

<form method="POST">

<label class="form-label">Select Crop</label>
<select name="crop" class="form-control" required>

<option value="">Select Crop</option>
<option value="rice">Rice</option>
<option value="wheat">Wheat</option>
<option value="maize">Maize</option>
<option value="cotton">Cotton</option>
<option value="sugarcane">Sugarcane</option>
<option value="banana">Banana</option>
<option value="mango">Mango</option>

</select>

<label class="form-label mt-3">State</label>
<input type="text" name="state" class="form-control" placeholder="Enter State" required>

<label class="form-label mt-3">Month</label>
<select name="month" class="form-control" required>

<option value="jan">January</option>
<option value="feb">February</option>
<option value="mar">March</option>
<option value="apr">April</option>
<option value="may">May</option>
<option value="jun">June</option>
<option value="jul">July</option>
<option value="aug">August</option>
<option value="sep">September</option>
<option value="oct">October</option>
<option value="nov">November</option>
<option value="dec">December</option>

</select>

<button class="btn btn-success w-100 mt-4">
Predict Price
</button>

</form>

</div>

</div>

</div>


{% if prediction %}

<div class="row mt-5">

<div class="col-md-8 mx-auto">

<div class="price-card">

<h4>Crop: {{ crop }}</h4>

<p><b>Predicted Market Price:</b> ₹ {{ prediction.price }} / quintal</p>

<p><b>Market Trend:</b> {{ prediction.trend }}</p>

<p><b>Advice:</b> {{ prediction.advice }}</p>

</div>

</div>

</div>

{% endif %}

</div>

{% endblock %}