{% extends "base.html" %}

{% block content %}

<style>

/* HERO SECTION */

.hero-section{
    padding:6px 2px;
    text-align:center;
    background: rgba(4, 84, 23, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(25, 190, 0, 0.3);
}

.hero-title{
    font-size:42px;
    font-weight:bold;
    color:rgb(5, 241, 95);
}

.hero-text{
    font-size:18px;
    color:rgb(164, 255, 103);
    font-weight:500;
    margin-top:20px;

}

/* FEATURE CARDS */

.feature-card{
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    background: rgba(17, 230, 67, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(25, 190, 0, 0.3);
    transition:0.3s;
    padding:5px;
    text-align:center;
    height:200px;
    margin-bottom:100px;
}

.feature-card:hover{
    transform:translateY(-5px);
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

</style>



<!-- HERO SECTION -->

<div class="hero-section" >

<h1 class="hero-title">
🌱 Smart Agriculture Advisor
</h1>

<p class="hero-text">
AI-powered platform that helps farmers choose the best crops based on soil nutrients, climate conditions, and market insights.
</p>

</div>



<!-- FEATURES SECTION -->

<div class="container mt-5">

<div class="row g-4">


<!-- FEATURE 1 -->

<div class="col-md-4 " >

<div class="card feature-card">

<div class="card-body text-center">

<h4>🌾 Crop Recommendation</h4>

<p>
Use AI to predict the most suitable crop for your soil and climate conditions for better yeild.
</p>

<a href="/cropRecommendation" class="btn btn-success">
Use Feature
</a>

</div>

</div>

</div>


<!-- FEATURE 2 -->

<div class="col-md-4">

<div class="card feature-card">

<div class="card-body text-center">

<h4>🌱 Crop Information</h4>

<p>
Search any crop to learn about growing season, soil conditions, and climate requirements.
</p>

<a href="/cropsInfo" class="btn btn-success">
Explore Crops
</a>

</div>

</div>

</div>


<!-- FEATURE 3 -->

<div class="col-md-4">

<div class="card feature-card">

<div class="card-body text-center">

<h4>📊 Market Insights</h4>

<p>
View crop demand and market price insights to make smarter farming decisions.
</p>

<a href="/marketInsights" class="btn btn-success">
View Market
</a>

</div>

</div>

</div>


</div>

</div>

{% endblock %}